/gradle
/.kotlin
/.idea

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/values/strings.xml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.jks
*.keystore
app/google-services.json
*.hprof
/replay_pid3508.log
/hs_err_pid3508.log
